.App {
  text-align: center;
}

button {
  font-weight: 200;
}

html, body {
  margin: 0;
  padding: 0;
  font-weight: 200;
}

h2 {
  color: green;
  font-weight: 200;
}

#incorrect {
  color: white;
}

.calculator {
  max-width: 300px;
  margin: 0 auto;
}

.cb {
  font-size: 28pt;
  width: 20%;
  margin: 5px;
  border-radius: 8px;
}

.b {
  font-size: 20pt;
  margin: 5px;
  border-radius: 8px;
}

.cbWrap {
  display: flex;
  flex-flow: wrap;
  padding: 5px;
  margin: 0 auto;
  max-width: 100%;
  overflow: wrap;
}

input {
  margin: 10px auto;
  font-size: 18pt;
}

#student {
  font-size: 20pt;
  margin: 40px;
  padding: 10px;
  border-radius: 10pt;
}

#teacher {
  font-size: 20pt;
  margin: 40px;
  padding: 10px;
  border-radius: 10pt;
}

textarea {
  font-size: 16pt;
  width: 50%;
  margin: 0 auto;
}

.vertForm {
  display: flex;
  flex-direction: column;
}

.assignment {
  text-decoration: none;
  color: green;
  text-align: left;
}

.subtitle {
  color: gray; 
}

.pageWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  min-height: 90vh;
}

.header {
  background-color: tan;
  padding: 0;
  margin: 0;
  width: 100%;
}

.banner {
  margin: 0;
  background-color: green;
  padding: 20px;
}

.banner h1 {
  margin: 0;
  font-size: 48pt;
  font-weight: 100;
  color: white;
}

.updateAssignment {
  margin: 0 0 40px 0;
}

.link {
  position: absolute;
  top: 40px;
  font-size: 16pt;
  padding: 10px;
  text-decoration: none;
  color: blue;
  border-radius: 4px;
  background-color: lightgray;
}

.add {
  right: 30px;
}

.log {
  left: 30px;
}

.addQuestion {
  margin: 10px 0 40px 0;
}

.classKey {
  position: absolute;
  right: 30px;
  font-size: 20pt;
  color: green;
}

.gradeWrap {
  padding: 60px;
  margin: 0 auto;
  max-width: 65vw;
  display: flex;
  flex-flow: wrap;
}

.gradeThumb {
  display: flex;
  background-color: lightgray;
  border-radius: 5px;
  width: min-content;
  max-width: 200px;
  margin: 10px;
  padding: 15px;
}

.gb {
  font-size: 28pt;
  margin: 0 auto;
  color: green
}

.user {
  padding: 30px;
  color: brown;
  font-size: 14pt;
}

.assignmentList {
  margin: 50px 0 50px 200px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.message {
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  text-align: left;
  overflow-wrap: break-word;
}

.message p {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.assignmentThumb {
  margin: 10px 100px;
  width: 400px;
  border-radius: 10px;
  height: 80px;
  background-color: lightgray;
  padding: 20px;
}

.assignmentContent {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
}

.placeholder {
  color: lightgreen;
}

.switch {
  width: 600px;
  height: 500px;
}

.position {
  margin: -30px;
}

.spacer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chat {
  width: 400px;
  height: 500px;
  overflow: auto;
  border: solid lightgray 3px;
  border-radius: 10px;
}

.assignmentThumb p {
  font-size: 20pt;
  margin: auto;
}

.switchButtonBar {
  margin: 10px;
}

.header p {
  padding: 40px;
  margin: 0;
  font-size: 32pt;
  color: navy;
}

.scorecard {
  margin: 50px;
  background-color: lightgray;
  width: 300px;
  height: 250px;
  border-radius: 15px;
}

#messageInput {
  width: 50%;
}

.position p {
  font-size: 16pt;
  font-weight: 200;
}

#messageInputBox {
  width: 300px;
}

.calcContent {
  padding: 0;
  margin: 0;
}

.calcWrap {
  display: flex;
  flex-direction: column;
}

.question {
  margin: 10px auto 0 auto;
  background-color: lightgreen;
  border-radius: 15px;
  padding: 10px;
  max-width: 50vw;
}

.calculation {
  padding: 10px 10px;
  display: inline-block;
  min-width: 75%;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(0, 255, 0, .3);
}

#calcFieldButton {
  display: block;
  margin: 0 auto;
}

.solutionWrap {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column {
  width: 30vw;
  padding: 0;
  margin: 0;
}

.solutionBox {
  position: relative;
  margin: 10px auto;
  border-radius: 5px;
  padding: 20px;
  background-color: red;
  color: white;
  width: 28vw;
  height: min-content;
  text-align: left;
}

.solutionContent {
  margin: 0;
  padding: 0;
}

.buttonFloat {
  position: absolute;
  right: 6px;
  bottom: 30px;
}

.buttonFloat2 {
  position: absolute;
  right: 6px;
  bottom: 4px;
}

.calculations {
  display: none;
  height: 50px;
  background-color: pink;
}

.calcTable {
  position: absolute;
  left: 10px;
}

.calcSmall {
  margin: 10px;
}

#calcInput{
  text-align: right;
}

.userAccess {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 10% auto 0 auto;
}

.uaInput {
  margin: 5px;
}

.chatFormWrap {
  display: flex;
  justify-content: space-between;
}

.scorebar {
  width: 80%;
  background-color: red;
  padding: 0;
  margin: auto;
  height: 10px;
  display: flex;
  justify-content: flex-start;
}

.correctbar {
  height: 100%;
  margin: 0;
  background-color: green;
}

.loginButton {
  font-size: 16pt;
  border-radius: 3px;
  margin: 0 auto 20px auto;
  display: block;
}

#messageButton {
  font-size: 18pt;
  height: 80%;
  margin: auto 10px;
}

#equals {
  font-size: 18pt;
  margin: 0 10px;
  border-radius: 4px;
  background-color: rgb(0, 100, 255);
  color: white;
}

.submittedData {
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.gradehead {
  color: green;
  margin: 30px 0 0 0;
}

.grade {
  color: green;
  font-size: 35pt;
}
